:root {
  --void: #050505;
  --chalk: #f6f6f6;
  --red: #cd0000;
  --red-text: #ff1a1a;
  --graphite: #262626;
  --gunmetal: #4d4d4d;
  --slate: #737373;
  --fog: #999999;
  --haze: #cccccc;
  --cathode: #a7bebe;
  --font-ui: 'Geist Pixel';
}

@font-face {
  font-family: 'Geist Pixel';
  src: url('/fonts/GeistPixel.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--void);
}
